{% load i18n djicons %}

<nav class="tabs tabs--bottom">
    <div class="tabs__nav">
        <button class="tabs__item {% if current_view == 'dashboard' %}is-active{% endif %}"
            hx-get="{% url 'cash_register:dashboard' %}"
            hx-target="#main-content-area" hx-push-url="true">
            {% icon "home-outline" %}
            <span>{% trans "Home" %}</span>
        </button>

        {% if open_session %}
        <button class="tabs__item {% if current_view == 'close' %}is-active{% endif %}"
            hx-get="{% url 'cash_register:close_session' %}"
            hx-target="#main-content-area" hx-push-url="true">
            {% icon "lock-closed-outline" %}
            <span>{% trans "Close" %}</span>
        </button>
        {% else %}
        <button class="tabs__item {% if current_view == 'open' %}is-active{% endif %}"
            hx-get="{% url 'cash_register:open_session' %}"
            hx-target="#main-content-area" hx-push-url="true">
            {% icon "lock-open-outline" %}
            <span>{% trans "Open" %}</span>
        </button>
        {% endif %}

        <button class="tabs__item {% if current_view == 'history' %}is-active{% endif %}"
            hx-get="{% url 'cash_register:history' %}"
            hx-target="#main-content-area" hx-push-url="true">
            {% icon "time-outline" %}
            <span>{% trans "History" %}</span>
        </button>

        <button class="tabs__item {% if current_view == 'settings' %}is-active{% endif %}"
            hx-get="{% url 'cash_register:settings' %}"
            hx-target="#main-content-area" hx-push-url="true">
            {% icon "settings-outline" %}
            <span>{% trans "Settings" %}</span>
        </button>
    </div>
</nav>
